<!-- extends base.html -->
{% extends "base.html" %}

<!-- block title -->
{% block title %} Editar Diário {% endblock %}

<!-- block content -->
{% block content %}

    <script>
        function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        // check if cookie 'clicou' is set
        if (getCookie('clicou') != "") {
            // if it is, redirect to /logado
            location.href = "/edit"
            // delete cookie 'clicou'
            document.cookie = "clicou=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
        }
    </script>
    <form action="" method="post">
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="title">
        </div>
        <div class="form-group">
            <label for="conteudo">Conteúdo:</label>
            <input type="text" class="form-control" id="conteudo" name="content">
        </div>
        <button type="submit" class="btn btn-primary" id="sub" onclick="document.cookie='clicou=true'">Adicionar</button>
    </form>

    {% if len==0 %}
        <br/>
        <br/>
        <div class="alert alert-danger" role="alert">
            Coloque um título e um conteúdo!
        </div>
    {% elif len==1 %}

        <br/>
        <br/>
        <div class="alert alert-danger" role="alert">
            O texto deve ser menor
        </div>
    {% endif %}
{% endblock %}
