{% extends "base.html" %}

{% block title %} Feliz Dia dos Pais {% endblock %}

{% block content%}

    <!-- mensagem de dia dos pais -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Feliz Dia dos Pais</h5>
                        <p class="card-text">
                            O dia dos pais é um dia de amor.
                            <br>
                            <br>
                            Pai, eu te amo em todos os momentos da minha vida.
                            <br>
                            <br>
                            Gosto quando nós jogamos bola...
                            <br>
                            <br>
                            Andamos...
                            <br>
                            <br>
                            Conversamos sobre probabilidades...
                            <br>
                            <br>
                            Quando estou com você, eu sei que você é o meu melhor amigo.
                            <br>
                            <br>
                            Eu te amo.
                            <br>
                            <br>
                            Obrigado.
                            <br>
                            <br>
                            <br>
                            <br>
                            Assinado: Paiva Veríssimo.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
