{% extends "base.html" %} 
{% block title %} Editar Diário {% endblock %} 
{% block content %}

    <style>
        button {
            border-radius: 20px;
        }
    </style>
    <div id="posts">
        {% for post in posts %}
            <h3 style="color: azure; position: relative; left: 25px; top: 25px;">Título: {{post[1]}}</h3>
            <p style="color: azure; position: relative; left: 25px; top: 15px;">Conteúdo: {{post[2]}}</p>
            <!-- button to remove with post id -->
            <button type="button" class="btn btn-dark" onclick="location.href = '/remove/{{post[0]}}'">Remover</button>
        {% endfor %}

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <!-- button that goes to /addPost -->
        <a href="/addPost" class="btn btn-primary" style="left: 25px;">Adicionar Post</a>

        
    </div>


{% endblock %}