{% extends "base.html" %}

{% block title %} teste {% endblock %}

{% block content %}
<style>
    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }

    input, label {
        margin: .4rem 0;
    }
</style>
<label for="excel">Manda uma planilha do excel:</label>

<input type="file" id="excel" name="excel" onchange="return fileValid()">



<script>
    function fileValid() {
            var fileInput =
                document.getElementById('file');
             
            var filePath = fileInput.value;
         
            // Allowing file type
            var allowedExtensions =
                    /(\.jpg|\.jpeg|\.png|\.gif)$/i;
             
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            }
            else
            {
             
                // Image preview
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById(
                            'imagePreview').innerHTML =
                            '<img src="' + e.target.result
                            + '"/>';
                    };
                     
                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
        }

</script>
{% endblock %}