{% extends "base.html" %}
{% block title %} Ver perfil {% endblock %}
{% block content %}
<div class="a">
    <h1 id="h1DoPerfil"><span id="spanNomeUser"></span></h1>
    <br />
    <br />
    <br />
    <img id="imgUser" alt="user" style="width: 150px; height: 150px;" src="/static/img/user.png">
    <br>
    <br>
    
    <a href="/editarPerfil"><button id="btn">Adicionar Foto de perfil</button></a>
</div>
<a href="/editarPerfil"><button style="display: none;" id="btnEditar">Editar perfil</button></a>
<style>
    /* put image in the left of the h1 inside of the div */
    .a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #imgUser {
        width: 87px;
        height: 87px;
        border-radius: 50%;
        margin-right: 10px;
        /* put image a bit to the left of the text */
        margin-left: 50px;

    }
</style>
<script>

    if (!getCookie('login')) {
        location.href = "/login";
    } else {
        document.querySelector("#spanNomeUser").innerHTML = atob(getCookie("login")) + ":"
        if (doesFileExist("/static/img/" + atob(getCookie("login")) + ".png")) {
            document.getElementById("imgUser").src = "/static/img/" + atob(getCookie("login")) + ".png";
            document.getElementById("btn").style.display = "none"
            document.getElementById("btnEditar").style.display = ""
        } else {
            document.getElementById("imgUser").src = "/static/img/user.png"
        }
    }

    function doesFileExist(urlToFile) {
    var xhr = new XMLHttpRequest();
    xhr.open('HEAD', urlToFile, false);
    xhr.send();
     
    if (xhr.status == "404") {
        return false;
    } else {
        return true;
    }
}
</script>

{% endblock %}
